# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/
# migrations? keep app migrations but ignore global migration caches if any
# keep your app's migrations folders (commit them)

# IDEs / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store

# Secrets / env
.env
secrets.json
settings_local.py