{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 2rem;
        background-color: burlywood;
      }
      .container {
        max-width: 500px;
        margin: auto;
        background: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
        text-align: center;
      }
      h2,
      h1 {
        color: green;
      }
      .spec {
        color: blue;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to <span class="spec">MyClinic</span></h1>
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
    </div>
  </body>
</html>
