{% extends 'core/base.html' %} {% block title %}Dashboard{% endblock %}
 {% block content %}
<h2 class="text-2xl font-bold mb-4">Welcome, {{ user.full_name }}</h2>
<!-- Dashboard content here -->
<div class="max-w-4xl mx-auto mt-10 px-4">
  
  <!-- Appointment Card -->
  <div class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h3 class="text-lg font-bold mb-4">Your Next Appointment</h3>
    {% if next_booking %}
    <p><span class="font-semibold">Date:</span> {{ next_booking.slot.date }}</p>
    <p><span class="font-semibold">Time:</span> {{ next_booking.slot.start_time}} - {{ next_booking.slot.end_time }}</p>
    <p>
      <span class="font-semibold">Clinic:</span> {{next_booking.slot.clinic.name }}
    </p>
    <p><span class="font-semibold">Status:</span> {{ next_booking.status }}</p>
    <a
        href="{% url 'cancel_booking' next_booking.id %}"
        onclick="return confirm('Are you sure you want to cancel this appointment?')"
        class="inline-block bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
        >Cancel</a
          >
    {% else %}
    <p class="text-gray-600">You have no upcoming appointments.</p>
    {% endif %}
  </div>

  <!-- Quick Actions -->
  <div class="flex flex-col md:flex-row gap-4">
    <a
      href="{% url 'book_slot' %}"
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 text-center"
      >Book New Appointment</a
    >
    <a
      href="{% url 'booking_history' %}"
      class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 text-center"
      >View Booking History</a
    >
  </div>
</div>
{% endblock %}
